.graph {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: white;
  margin: 0 8px 10px 20px;
}

.graph_filters {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 10px 0 0 35px;
}

.graph_filters p {
  margin: 0 10px 0 10px;
}
